POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ab_testing_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/ab_testing_db
SYNC_DATABASE_URL=postgresql://postgres:postgres@db:5432/ab_testing_db
REDIS_URL=redis://cache:6379/0
RABBITMQ_URL=amqp://guest:guest@queue:5672/
EVENT_API_URL=http://event-api:8000/events
CONFIG_API_PORT=8001
DECISION_ENGINE_PORT=8002
EVENT_API_PORT=8000
